################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodingBlog/FileContentIndex/a8462efe-ca8e-4025-8bca-1586e279ef55.vsidx
/.vs/CodingBlog/FileContentIndex/171d0412-7863-4942-babf-9e92940bd085.vsidx
/.vs/CodingBlog/FileContentIndex/c87bdc5f-80f6-40a9-9430-60217bac90ff.vsidx
/.vs/CodingBlog/FileContentIndex/f223663e-9a8f-4d6c-b0fb-76c7ca6da70d.vsidx
/.vs/CodingBlog/FileContentIndex/66e6f479-cb3b-4330-bbc2-fcb53efef440.vsidx
/.vs/CodingBlog/FileContentIndex/4a3f84e2-6886-4d44-8639-a61841ba31ef.vsidx
/.vs/CodingBlog/FileContentIndex/ed6a265e-32b0-43d9-b9a4-7a9801e1c34b.vsidx
