################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodingBlog/FileContentIndex/a8462efe-ca8e-4025-8bca-1586e279ef55.vsidx
